<h1><%= "#{@pilot.name.titleize}" %></h1>
<%= render 'pilot-info' %>
<%= render "flights/flights" %>
<div class="new-flight">
  <%= link_to "New Flight", new_pilot_flight_path(@pilot) if can_edit? %>
</div>
