// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  text-align: center;
}

#pilot-clipart {
  width: 50%;
  align-self: center;
  transform: scaleX(-1);
}

.banner h1 {
  font-size: 142px;
  color: AliceBlue;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  position: relative;;
  top: -112.5px;
  left: -7px;
  z-index: 1;
  border-bottom: none;
}
