// Place all the styles related to the pilots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pilot-info {
  border-radius: 25px;
  width: 40%;
  background-color: gainsboro;
  padding: 20px;
  margin: 20px;
}

.pilot-info ol  {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1px;
}

table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

table, th, td {
    border-left: 1px solid black;
    border-collapse: collapse;
}

th, td {
  height: 50px;
  padding: 8px;

}

th {
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #d0ecf7;
}

tr:nth-child(odd) {
  background-color: #e7f5fb;
}

th#number{
  width: 3%
}

th#date{
  width: 7%
}

th#plane{
  width: 15%
}

th#tail{
  width: 10%
}

th#from{
  width: 3.3%
}

th#to{
  width: 3.3%
}

th#duration{
  width: 3.3%
}

th#notes{
  width: 35%
}
